body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: #FFE8BA;

    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

hr {
    border-width: 1px;
    border-color: black;
    margin-left: 3rem;
    margin-right: 3rem;
}

.flex-container-1 {
    height: 90px;

    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
}

.flex-item-1,
.flex-item-2,
.flex-item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

header nav ul {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-right: 9rem;
    list-style: none;
}

header nav ul li {
    padding-left: 40px;
    padding-right: 40px;
}

header nav ul li a {

    text-decoration: none;
    color: black;
}

.shop-cart-img {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-in-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

.number-for-cart {
    display: flex;

}

.first-segment h1 {
    font-size: 9rem;
    font-weight: 300;
    line-height: 140px;
    text-align: center;
}

.first-segment div {
    display: grid;
    border: none;
    grid-column: span 3;
}

.dog-1 {
    height: 95%;
    width: 95%;
    margin: auto;
    border-radius: 4rem;
}

.second-segment {
    height: 150px;
    margin-top: 100px;

    display: flex;
    border: none;

    margin-bottom: 200px;
}

.item-1 {
    display: grid;
    font-size: 4rem;
    padding-left: 3rem;

    border: none;

}

.item-2 {
    display: grid;
    justify-content: space-between;
    width: 80%;
    border: none;
    font-size: 1.2rem;
}

.item-2 a {

    color: black;
}

.third-segment {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.grid-item-2-2 a {
    text-decoration: none;
    color: black;
}

.grid-item-2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.sitting-dog {
    width: 80%;
}

.iris-collar {
    margin-bottom: 40px;
}

.price-1 {
    font-size: 1.5rem;
}

.flex-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-segment {
    padding: 40px;
    background-color: #E6D8F9;
    display: flex;
    gap: 30px;
    justify-content: space-around;

}

.fourth-segment-img {
    width: 90%;
}

.fourth-segment div {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-2,
.price-3,
.price-4 {
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}

.purple-btn {
    font-size: 1.2rem;
    height: 50px;
    width: 150px;
    background-color: #E6D8F9;
    color: black;
    border-radius: 10px;
}


.purple-btn-bigger {
    font-size: 1.2rem;
    height: 50px;
    width: 200px;
    background-color: #E6D8F9;
    color: black;
    border-radius: 10px;
}

.fifth-segment {
    height: 70vh;
    background-image: url(BackgroundYellow1.png);
    text-align: center;
    padding-top: 100px;
}

.large {
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
}

.name {
    font-size: 1.3rem;
}

.large-paragraph {
    font-size: 1.6rem;

}

.arrow-svg {
    margin-top: 3rem;
    height: 90px;
    width: 90px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sixth-section {
    padding-top: 5rem;
    text-align: center;
    padding: 30px;
}

.sixth-section h1 {
    font-size: 4rem;
    font-weight: 300;

    a {
        text-decoration: none;
        position: relative;
    }

}

.sixth-section h1 a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    bottom: -5px;
    left: 0;
}

.sixth-section a {
    color: black;
}

.last-grid-container {
    width: 100%;
    display: flex;
}

.last-grid-1,
.last-grid-2,
.last-grid-3,
.last-grid-4 {
    margin-bottom: 60px;
    border: none;
}

.last-grid-container-item {
    display: flex;
    margin: 10px;
    gap: 20px;
}

.final-imgs {
    width: 100%;
    border-radius: 20px;
}

.sixth-section h2 {
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    right: 850px;
    bottom: 200px;

}

.footer {
    display: flex;
    justify-content: space-between;
}

.griditem1,
.griditem2,
.griditem3 {
    display: flex;
    border: none;

}

.griditem1 {
    display: flex;
    font-size: 2rem;
    font-weight: 300;
    justify-content: start;
    padding-left: 3rem;
}



.griditem2 {
    justify-content: center;
    align-items: center;
}

.griditem3 {
    display: flex;
    flex-direction: column;
    gap: 30px;

    input {
        border: none;
        font-size: 20px;
        padding-left: 20px;
    }
}

.instabook {
    position: relative;
    top: 15px;
    bottom: 50px;
    right: 55px;
}

.regular {
    font-size: 1rem;
    position: relative;
    top: 100px;
    right: 250px;
}

.footer .griditem2 ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
    padding-right: 100px;
}

.griditem4 {
    position: relative;
    top: 40px;
    right: 130px;
}

.updates {
    font-size: 1.3rem;
    position: relative;

}

.text-window {
    width: 300px;
    height: 50px;
}

.text-window-btn {
    height: 60px;
    width: 150px;
    background-color: #FFE8BA;
    border-radius: 1rem;
    font-size: 1.3rem;
}

.burger {
    display: none;
}

.input-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button:hover {
    color: white;
    background-color: black;
    transition: color ease 0.4s, background-color ease 0.4s;
    cursor: pointer;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .flex-parent {
        display: flex;
        justify-content: center;
    }

    .second-segment {
        flex-direction: column;
        align-items: center;
    }

    .second-segment .item-1 {
        font-size: 3rem;
        padding-left: 0;
        font-weight: 300;
    }


    .sitting-dog {
        width: 60%;
    }

    .iris-collar {
        width: 100%;
    }

    .burger {
        width: 60px;
    }

    .burger {
        display: block;
    }

    .flex-item-1 {
        display: none;
    }

    .flex-item-2 {
        display: none;
    }

    .flex-item-3 {
        display: none;
    }

    .logo {
        position: absolute;
        left: 40%;
    }

    .display-none-mid {
        display: none !important;
    }

    .first-segment h1 {
        font-size: 5rem;
        font-weight: 300;
        line-height: 140px;
    }

    .fifth-segment {
        height: 100vh;
    }

    .footer .regular {
        width: 100%;
    }

    .third-segment {
        flex-direction: column;
        gap: 20px;
    }

    .flex-1-empt {
        flex: 1;
    }

    .grid-item-1-2 {
        flex: 1;
        margin-left: 20px;
    }

    .grid-item-2-2 {
        flex: 1;
        margin-right: 20px;
    }
}

@media screen and (max-width: 850px) {

    .footer {
        flex-direction: column;
        align-items: flex-start;

        margin-top: 20px;
        padding-bottom: 100px;
    }

    .footer .regular {
        width: 100%;

    }

    .griditem1 {
        position: relative;

        padding-left: 20px;
        margin-bottom: 50px;
        font-size: 1.8rem;
    }

    .griditem4 {
        width: 50%;
        position: absolute;
        left: 290%;
        bottom: 5%;

    }

    .regular {
        height: 150px;
        position: absolute;
        left: 200%;
        top: 340%;
    }

    .sixth-section .updates {
        width: 100%;
        margin-top: 20px;
        text-align: left;
        margin-left: 40px;
    }
}

@media screen and (max-width: 576px) {
    .burger {
        width: 50px;
    }

    .display-none-small {
        display: none !important;
    }

    .first-segment h1 {
        font-size: 4rem;
        font-weight: 300;
        line-height: 100px;
    }

    .fifth-segment {
        height: 100vh;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
        margin-top: 20px;
        padding-bottom: 100px;
    }

    .input-button {
        flex-direction: row;

    }

    .griditem1 {
        position: relative;
        padding-right: 10%;
        margin-bottom: 50px;
        font-size: 1.8rem;
    }

    .griditem2 {
        padding-left: 0;
    }

    .footer .griditem2 ul {
        padding: 20px;
    }

    .griditem4 {
        width: 60%;
        position: absolute;
        left: 180%;
        bottom: 5%;

    }

    .sixth-section .updates {
        width: 400px;
        margin-top: 20px;
        text-align: left;
    }

    .last-grid-container-item {
        flex-direction: column;
    }

    .second-segment {
        flex-direction: column;
        align-items: center;
    }

    .second-segment .item-1 {
        font-size: 2rem;
        padding-left: 0;
    }

    .second-segment .item-2 {
        text-align: left;
    }

    .second-segment .item-2 a {
        color: black;
    }


    .griditem1 .regular {

        position: absolute;
        left: 200%;
        top: 150px;
    }
}